// vue global transition css define
$fade-duration: 0.2s;
$transform-duration: 0.2s;
$breadcrumb-duration: 0.2s;

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity $fade-duration;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform AppMain*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all $transform-duration;
}

.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-10px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(10px);
}
.fade-transform-active {
  position: absolute;
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all $breadcrumb-duration;
}

.breadcrumb-enter-from,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(10px);
}

.breadcrumb-leave-active {
  position: absolute;
}
